<div class="panel panel-primary" ng-repeat="event in $ctrl.list">
    <div class="panel-heading">
        <h2 class="list-group-item-heading">{{ ::event.Name }}</h2>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Začiatok predstavenia:</dt>
            <dd>{{ ::event.Start | date : 'mediumDate' }}</dd>
            <dt>Dĺžka predstavenia:</dt>
            <dd>{{ ::event.Duration }} min.</dd>
            <dt>Kinosála:</dt>
            <dd>{{ ::event.Hall.Name }}</dd>
            <dt>Vstupné:</dt>
            <dd>{{ ::event.TicketPrice }}&euro;</dd>
            <dt ng-show="!!event.About && event.About !== ''">O predstavení:</dt>
            <dd>{{ ::event.About }}</dd>
        </dl>
    </div>
    <div class="panel-footer text-right">
        <a href="#" ng-click="$ctrl.goToReservation(event.Id)" class="text-right btn btn-primary btn-lg"
           title="Rezervovať miesta">
            Rezervovať miesta <span class="glyphicon glyphicon-shopping-cart"></span>
        </a>
    </div>
</div>
