<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="jumbotron page-header-tia">
                    <div class="container-fluid">
                        <h1>Rezervovať miesta</h1>
                    </div>
                </div>
            </div>
            <div class="container text-center">
                <hall-reservator hall="ctrl.hall" event="ctrl.event" reservations="ctrl.reservations"></hall-reservator>
                <div ng-show="ctrl.reservations.length > 0">
                    <h3>Vybrané rezervácie</h3>
                    <div ng-repeat="r in ctrl.reservations" class="list-group">
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading"><b>Rad: </b>{{ ::r.RowNumber }}, <b>Sedadlo: </b>{{
                                ::r.SeatNumber }}</h4>
                        </div>
                    </div>
                </div>
                <p class="text-center">
                    <button class="btn btn-primary btn-lg" ng-click="ctrl.createReservations()"
                            ng-disabled="ctrl.reservations.length === 0">
                        Potvrdiť rezervácie
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>

